<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MicroLearningQuizApp">
        <activity
            android:name=".SynonymQuiz"
            android:exported="false" />
        <activity
            android:name=".AlphabetQuiz"
            android:exported="false" />
        <activity
            android:name=".SubtractQuiz"
            android:exported="false" />
        <activity
            android:name=".MultiplyQuiz"
            android:exported="false" />
        <activity
            android:name=".adminViewLesson"
            android:exported="false" />
        <activity
            android:name=".adminEditLesson"
            android:exported="false" />
        <activity
            android:name=".adminAddLesson"
            android:exported="false" />
        <activity
            android:name=".Report"
            android:exported="false" />
        <activity
            android:name=".AdminProfile"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ScienceQuizzes"
            android:exported="false" />
        <activity
            android:name=".EnglishQuizzes"
            android:exported="false" />
        <activity
            android:name=".AddQuiz"
            android:exported="false" />
        <activity
            android:name=".MathQuizzes"
            android:exported="false" />
        <activity
            android:name=".quizzesmodules"
            android:exported="false" />
        <activity
            android:name=".ViewLesson"
            android:exported="false" />
        <activity
            android:name=".EditLesson"
            android:exported="false" />
        <activity
            android:name=".learningmodules"
            android:exported="false" />
        <activity
            android:name=".lessonActivity"
            android:exported="false" />
        <activity
            android:name=".StudentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MathLessons"
            android:exported="false" />
        <activity
            android:name=".ScienceLessons"
            android:exported="false" />
        <activity
            android:name=".EnglishLessons"
            android:exported="false" />
        <activity
            android:name=".adminDashboard"
            android:exported="false" />
        <activity android:name=".score" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>